@using MvcMovie.Models
@using MvcMovie.DTO

@model MvcMovie.ViewModels.MoviesViewModel

<div class="row">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Realisator</th>
                <th>Date</th>
                <th>Genre</th>
                <th>Actors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MovieDto movie in @Model.AllMovies)
            {
                <tr>
                    <td>@movie.Name</td>
                    <td>@movie.Realisator</td>
                    <td>@movie.Date</td>
                    <td>@movie.Genre</td>
                    <td>
                        <ul>
                            @foreach (Actor a in @movie.Actors)
                            {
                                <li>@a.Fullname</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<button id="addMovieButton" type="button" class="btn btn-primary">Add Movie</button>


<div id="addMovieModal" class="modal fade" tabindex="-1" role="form" data-url='@Url.Action("AddMovie")'>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#addMovieButton').click(function () {
                var url = $('#addMovieModal').data('url');

                $.get(url, function (data) {
                    $('#addMovieModal').html(data).modal('show');
                });
            });
        });
    </script>
}