@using MvcMovie.Models
@using MvcMovie.DTO

@model MvcMovie.ViewModels.MoviesViewModel

<div class="row">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Realisator</th>
                <th>Date</th>
                <th>Genre</th>
                <th>Actors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MovieDto movie in @Model.AllMovies)
            {
                <tr>
                    <td>@movie.Name</td>
                    <td>@movie.Realisator</td>
                    <td>@movie.Date</td>
                    <td>@movie.Genre</td>
                    <td>
                        <ul>
                            @foreach (Actor a in @movie.Actors)
                            {
                                <li>@a.Fullname</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    @using (@Html.BeginForm("AddMovie", "Movies", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => Model.Movie.Name)
            @Html.TextBoxFor(model => Model.Movie.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => Model.Movie.Realisator)
            @Html.TextBoxFor(model => Model.Movie.Realisator, new { @class = "form-control" })
        </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Movie.Date)
                @Html.TextBoxFor(model => Model.Movie.Date, new { @class = "form-control", @type = "date" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Movie.Genre)
                @Html.TextBoxFor(model => Model.Movie.Genre, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @*@Html.CheckBoxListFor(model => model.CheckboxesName,
                    model => Model.AllActors,
                    entity => entity.Id,
                    entity => entity.Fullname,
                    model => model.Actors)*@
                @Html.ListBoxFor(m => m.SelectedActors, Model.Actors, new { @class = "selectpicker", @multiple = "true" })
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
    }
</div>